@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>
<html>
<head>
    <meta  charset="utf-8"/>
    <meta name="view" content="width=device-width,initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

        </div>
    </div>
    <div class="container body-content" >
        @RenderBody()
        <hr />
        <footer>
            &copy; 2020 - By SomeCompany.com.cn
            <br>
            @Html.Partial("~/Views/Shared/Footer.cshtml")
        </footer>
    </div>
    <div>
        @RenderSection("Footer", required: false)
    </div>
</body>

</html>
