<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding>
      <probing privatePahth="DLL;bin\dlls" mark="查找弱名称集时"></probing>

      <dependentAssembly>
        <assemblyIdentity name="Name" publicKeyToken="" culture="" >
        </assemblyIdentity>
        <bindingRedirect oldVersion="" newVersion=""></bindingRedirect>
        <codeBase version="" href="*.dll"></codeBase>
      </dependentAssembly>
  </assemblyBinding>
  </runtime>
</configuration>