<form method="post" />
<table cellpadding="5" cellspacing="0" width="50%">
    <tr>
        <td align="right" nowrap="nowrap" width="15%">
            编号 :
        </td>
        <td>
            <input name="Id" type="text" />
        </td>
    </tr>
    <tr>
        <td align="right" nowrap="nowrap" width="15%">
            姓名 :
        </td>
        <td>
            <input name="Name" type="text" />
        </td>
    </tr>
    <tr>
        <td align="right" nowrap="nowrap" width="15%">年龄:</td>
        <td><input name="Aget" type="number" /></td>
    </tr>
    <tr>
        <td align="right" nowrap="nowrap" width="15%">住址:</td>
        <td><input name="Address" type="text" /></td>
    </tr>
    <tr>
        <td align="left" colspan="2" nowrap="nowrap" width="15%">
            <input id="Submit1" type="submit" value="提交" />
        </td>
    </tr>
    <tr>
        <td align="left" colspan="2">
            <strong>
                @ViewBag.StatusMessage
            </strong>
        </td>
    </tr>
</table>
