<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <!--<runtime>
    <assemblyBinding xmlns="http://127.0.0.1:11225">
      <probing privatePath=""></probing>
      <dependentAssembly>
        <assemblyIdentity>
          
        </assemblyIdentity>
        <bindingRedirect>
          
        </bindingRedirect>
        <publisherPolicy apply="no">
          
        </publisherPolicy>
        <codeBase>
          
        </codeBase>
      </dependentAssembly>
      </assemblyBinding>
  </runtime>-->
  <!--<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AutoZip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <AutoZip.Properties.Settings>
      <setting name="ZipDirectory" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="filePath" serializeAs="String">
        <value>Demons\CSharp\AutoZip</value>
      </setting>
      <setting name="fileNameFormat" serializeAs="String">
        <value>yyyyMMddHHmm</value>
      </setting>
    </AutoZip.Properties.Settings>
  </userSettings>-->
</configuration>
